img {
	width: 30%;
	float: left;
	margin: 1.66%;
}

p {
	font-family: Raleway;
	font-size: 23px;
	font-weight: 800;
	margin-left: 1.66%;

	border-bottom: 2px solid lightgray;

	padding-bottom: 1em;
	width: 30%;
}
